@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 180 4% 6%;
    --foreground: 0 0% 98%;
    --card: 180 4% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 180 4% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 180 4% 6%;
    --secondary: 180 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 4% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 98%;
    --accent-foreground: 180 4% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 4% 15%;
    --input: 180 4% 12%;
    --ring: 0 0% 98%;
    --chart-1: 0 0% 98%;
    --chart-2: 180 4% 12%;
    --chart-3: 180 4% 12%;
    --chart-4: 0 0% 98%;
    --chart-5: 180 4% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 4% 6%;
    --foreground: 0 0% 98%;
    --card: 180 4% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 180 4% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 180 4% 6%;
    --secondary: 180 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 4% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 98%;
    --accent-foreground: 180 4% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 4% 15%;
    --input: 180 4% 12%;
    --ring: 0 0% 98%;
    --chart-1: 0 0% 98%;
    --chart-2: 180 4% 12%;
    --chart-3: 180 4% 12%;
    --chart-4: 0 0% 98%;
    --chart-5: 180 4% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
